//fonts
$font-family-global: 'Poppins',
sans-serif;
$font-family-headings: 'Source Serif Pro',
serif;

//colors
$orange: #ee5513;
$black: #190902;
$white: #ffffff;
$orange-10: rgba(#ee5513, 0.1);
$orange-40: rgba(#ee5513, 0.4);
$blue: #5e2de9;
$black-10: rgba(#190902, 0.1);
$black-70: rgba(#190902, 0.7);
$sky-blue: #1164e1;
$purple: #a921e9;
$gray: #a6a4a4;