.header {
    position: fixed;
    background-color: $white;
    width: 100%;
    transition: ease-out all 0.3s;
    z-index: 10;
    top: 0;
    left: 0;

    @include breakpoint-mf('md') {
        position: absolute;
        background-color: transparent
    }


    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 40px 10px;
    }
    
    .logo-holder {
        max-width: 94px;

        @include breakpoint-mf('md') {
            margin-right: 101px;
        }
    }

    .logo-and-nav {
        @include breakpoint-mf('md') {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
         }
        
    }

    .nav {
        position: absolute;
        top: 131px;
        left: 0;
        background-color: $white;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 0;
        transform: translateX(100%);
        transition: all ease-out 0.3s;

        @include breakpoint-mf('md') {
            position: static;
            max-width: 331px;
            width: auto;
            padding: 0;
            transform: translateX(0);
            background-color: transparent;
        }
    }

    .nav-list {
        width: 100%;

        @include breakpoint-mf('md') {
            display: flex;
            flex-direction: row;
        }
        
    }

    .nav-item {

        @include breakpoint-mf('md') {
            margin-right: 40px;
         }
    }

    .nav-link {
        display: inline-block;
        width: 100%;
        padding: 20px 0;
        transition: all ease-out 0.3s;

        &:hover {
            color: $orange;
        }

    }

    .btn {
        font-size: 12px;

        @include breakpoint-mf('md') {
            font-size: 18px;
         }
    }

    .btn-and-nav-opener {
        display: flex;
        align-items: center;
    }

}


.nav-opener {
    display: block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
    margin-left: 20px;

    .burger {
        display: block;
        height: 11px;
        border-bottom: 3px solid $black;
        transition: all ease-out 0.3s;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            border-bottom: 3px solid $black;
            transition: all ease-out 0.3s;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            bottom: 1px;
            left: 0;
            border-bottom: 3px solid $black;
            transition: all ease-out 0.3s;
        }
    }

    @include breakpoint-mf('md') {
        display: none;
    }
}

.active {
    .nav {
        transform: translateX(0);
    }

    .burger {
        border-bottom: none;

        &::before {
            transform: translateY(8.5px) rotate(45deg);
        }

        &::after {
            transform: translateY(-7.5px) rotate(-45deg);
        }
    }

}

