.footer {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $gray-1;
        padding: 20px;

        @include breakpoint('xxs') {
            flex-direction: column;
        }

        .copyright-holder {
            font-size: 12px;
            line-height: 22px;

            @include breakpoint('xxs') {
                margin-bottom: 15px;
            }
            
            
        }
    }

    .footer-menu {
        display: flex;
        flex-wrap: wrap;

        .menu-item {
            padding-right: 6px;
            margin-right: 6px;
            position: relative;

            &:not(:last-child)::before {
                content: "";
                height: 13px;
                width: 1px;
                background-color: $gray-1;
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-40%);
            }
            .menu-link {
                color: $yellow;
                font-size: 11px;
                line-height: 30px;
            }

            
        }
    }
}
