.hero-section {
    height: 602px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;

    .subtitle {
        color: $yellow;
    }

    .subtitle {
        margin-bottom: 15px;
    }

    .title-holder {
        margin-bottom: 35px;
    }
}