
.picture-divider {
    background-color: $black-2;
    padding-bottom: 38px;

    .background-picture {
        height: 573px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
}