.services {
    padding: 120px 0;
    text-align: center;

    .title-holder {
        margin-bottom: 60px;
    }

    .service-card-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}

.service-card {
    width: calc(100%/3);
    padding: 61px;
    border: 1px solid $gray-1;
    text-align: left;
    max-width: 517px;

    @include breakpoint('md') {
        width: 100%;
    }

    .icons-holder {
        width: 60px;
        height: 60px;
        position: relative;
        margin-bottom: 20px;
    }

    .card-title {
        font-size: 29px;
        line-height: 40px;
        color: $yellow;
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
    }

    .card-subtitle {
        margin-bottom: 5px;
        font-size: 15px;
        line-height: 26px;
    }

    .text-holder {
        line-height: 26px;
    }

//Icons

    .rectangle {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: inline-block;
        width: 38px;
        height: 38px;
        background-color: $gray-2;
    }

    .triangle {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .semicircle-transparent {
        position: absolute;
        top: 0;
        left: 6px;
        display: inline-block;
        width: 30px;
        height: 52px;
        border-radius: 25px 0 0 25px ;
        border: 5px solid $gray-2;
        z-index: 3;
    }

    .semicircle {
        position: absolute;
        bottom: 0;
        right: 6px;
        display: inline-block;
        width: 27px;
        height: 48px;
        border-radius: 0px 25px 25px 0;
        background-color: $yellow;
    }


    .circle {
        position: absolute;
        width: 43px; 
        height: 43px;
        border: 5px solid $yellow;
        border-radius: 50%;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 3;
    }
    .polygon {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}
