.layer {
    position: absolute;
    top: 0;
    left: 0;
    top: 100px
}

.fifth {
    width: 500px;
    height: 500px;
    background-color: rgb(236, 180, 58);
}

.forth {
    width: 400px;
    height: 400px;
    background-color: yellow;
}

.third {
    width: 300px;
    height: 300px;
    background-color: rgb(250, 125, 194);
}

.second {
    width: 200px;
    height: 200px;
    background-color: rgb(125, 250, 173);
}

.first {
    width: 100px;
    height: 100px;
    background-color: rgb(143, 175, 235);
}