*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 112px 16px 69px;
}
@media (min-width: 568px) {
  .container {
    padding: 112px 16px 100px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 73px 16px 170px;
    max-width: 1122px;
  }
}

h1, h2 {
  margin: 0;
}

p {
  margin: 0;
  margin-bottom: 32px;
}
p:last-child {
  margin-bottom: 0;
}

.heading, .article__topic-name {
  font-family: "Red Hat Display", sans-serif;
  color: #000;
  font-weight: 400;
}

.heading_h1 {
  font-size: 33px;
  line-height: 50px;
  letter-spacing: 0.05em;
}
.heading_h2 {
  font-size: 23px;
  line-height: 38px;
  letter-spacing: 0.01em;
}

.article__topic-name {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.5em;
}

.article__block {
  margin-bottom: 64px;
}
.article__block:last-child {
  margin-bottom: 0;
}
@media (min-width: 568px) {
  .article__block:first-child {
    margin-bottom: 81px;
  }
}
@media (min-width: 1024px) {
  .article__block {
    margin-bottom: 128px;
  }
  .article__block:first-child {
    margin-bottom: 210px;
  }
}
.article__topic-name {
  margin-bottom: 39px;
}
@media (min-width: 1024px) {
  .article__topic-name {
    margin-bottom: 48px;
  }
}
.article__title-holder {
  margin-bottom: 52px;
}
@media (min-width: 1024px) {
  .article__title-holder {
    margin-bottom: 64px;
  }
}
.article__subtitle-holder {
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .article__subtitle-holder {
    margin-bottom: 40px;
  }
}
.article__block:first-child .article__subtitle-holder {
  margin-bottom: 16px;
}
@media (min-width: 1024px) {
  .article__block:first-child .article__subtitle-holder {
    margin-bottom: 40px;
  }
}
.article__image-holder {
  margin-bottom: 48px;
}
@media (min-width: 568px) {
  .article__image-holder {
    margin-bottom: 56px;
  }
}
@media (min-width: 1024px) {
  .article__image-holder {
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .article__image-holder_hero {
    margin-bottom: 130px;
  }
}
.article__text-holder {
  width: 100%;
}
@media (min-width: 1024px) {
  .article__text-holder {
    width: 50%;
  }
}