* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.btn-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    color: white;
    font-weight: 600;
    background-color: black;
    border: 3px solid black;
    border-radius: 5px;
    padding: 16px 30px;
    cursor: pointer;
    transition: all ease-out 0.2s;
    z-index: 1;
    display: block;
    margin: 0 auto;
}

.btn:hover {
    color: black;
    background-color: white;
}

.modal-window-holder {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: gray;
    opacity: 0;
    z-index: -1;
    transition: all ease-out 0.3s;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background-color: white;
    border: 1px solid rgb(160, 153, 153);
    border-radius: 15px;
    padding: 40px 10px;
}

.active {
    opacity: 100%;
    z-index: 2;
}

.modal-text {
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}