
// Layout

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-global;
    font-weight: $font-weight-global;
    line-height: $line-height-global;
    letter-spacing: $letter-spacing-global;
    color: $gray;
}

img {
    width: 100%;
    display: block;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 112px 16px 69px;

    @include breakpoint-mf('xs') {
        padding: 112px 16px 100px;
    }

    @include breakpoint-mf('lg') {
        padding: 73px 16px 170px;
        max-width: 1122px;
    }

}

h1, h2 {
    margin: 0;
}

p {
    margin: 0;
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0;
    }
}

.heading, .article__topic-name {
    font-family: $font-headings;
    color: $black;
    font-weight: $font-weight-headings;
}

.heading {

    &_h1 {
        font-size: $font-size-h1;
        line-height: $line-height-h1;
        letter-spacing: $letter-spacing-h1;
    }

    &_h2 {
        font-size: $font-size-h2;
        line-height: $line-height-h2;
        letter-spacing: $letter-spacing-h2;
    }
}

.article__topic-name {
    font-size: $font-size-topic-name;
    line-height: $line-height-topic-name;
    letter-spacing: $letter-spacing-topic-name;
}



