
// Colors
// =============

$black: #000;
$gray: #565656;


//Typography
// =============

//Global
$font-global: 'Lato', sans-serif;
$font-size-global: 19px;
$font-weight-global: 400;
$line-height-global: 32px;
$letter-spacing-global: 0.05em;

//Headings
$font-headings: 'Red Hat Display', sans-serif;
$font-weight-headings: 400;

$font-size-topic-name: 16px;
$line-height-topic-name: 21px;
$letter-spacing-topic-name: 0.5em;

$font-size-h1: 33px;
$line-height-h1: 50px;
$letter-spacing-h1: 0.05em;

$font-size-h2: 23px;
$line-height-h2: 38px;
$letter-spacing-h2: 0.01em;