* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #070707;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    line-height: 64px;
    margin: 0 0 40px;
}

h2 {
    font-size: 34px;
    line-height: 46px;
    margin: 0 0 30px;
}

p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
}

img {
    display: block;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.header .container {
    padding: 23px 0 30px;
}

.header .border-shadow {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #828282;
    box-shadow: 0 4px 8px 1px #82828273;
}

.nav-list {
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
    
}

.nav-item {
    display: inline-block;
    padding: 0 20px;
    
}

.nav-link {
    font-size: 18px;
    line-height: 25px;
    color: #828282;
    text-shadow: 1px 4px 4px #82828293;
}



.nav-link:hover {
    color: #070707;
}

.hero-section {
    padding: 34px 0 100px;
}

.image-holder {
    width: 100%;
}

.about-me-section {
    padding: 100px 0 75px;
    background-color: #F6F6F6;
    text-align: center;
}

.text-holder {
    margin: 0 auto;
    max-width: 480px;
}

.skill-section {
    padding: 100px 0 83px;
    text-align: center;
}

.skill-card-list {
    margin-top: 55px;
    list-style: none;
    display: inline-block;
    columns: 4;
}

.skill-card {
    display: inline-block;
    max-width: 166px;
}

.skill-card p {
    font-size: 14px;
    line-height: 17px;
}

.logo-container {
    max-width: 90px;
    margin: 0 auto 60px;
}

.logo-container .image-holder {
    margin-bottom: 24px;
}

.star-list {
    list-style: none;
    display: inline-block;
    columns: 5;
}

#figma p {
    margin-bottom: 77px;
}

#figma .logo-container {
    max-width: 60px;
}

.portfolio-section {
    background-color: #F6F6F6;
    padding: 120px 0 35px;
    text-align: center;
}

.portfolio-section h2 {
    margin-bottom: 5px;
}

.portfolio-item {
    padding: 65px 0;
}

.image-caption {
    margin-top: 10px;
}

.portfolio-link {
    color: #070707;
    font-size: 18px;
    line-height: 25px;
    text-decoration: underline;
}







