* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    flex-wrap: wrap;
    
}

.nav {
    padding: 15px;
}

.nav__list {
    margin: 0 -15px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.nav__item {
    padding: 0 15px 30px;
}


.nav__link {
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

.nav__link:hover {
    color: blueviolet;
}

.nav__link_color {
    color: red;
}

.nav__link_hover-color:hover {
    color: green;
}