@font-face {
    font-family: 'arialregular';
    src: url('../fonts/arial-webfont.woff2') format('woff2'),
         url('../fonts/arial-webfont.woff') format('woff'),
         url('../fonts/arial-webfont.ttf') format('truetype'),
         url('../fonts/arial-webfont.svg#arialregular') format('svg');
    font-weight: 400;
    font-style: normal;

}



@font-face {
    font-family: 'old_standard_ttregular';
    src: url('../fonts/oldstandardtt-regular-webfont.woff2') format('woff2'),
         url('../fonts/oldstandardtt-regular-webfont.woff') format('woff'),
         url('../fonts/oldstandardtt-regular-webfont.ttf') format('truetype'),
         url('../fonts/oldstandardtt-regular-webfont.svg#old_standard_ttregular') format('svg');
    font-weight: 400;
    font-style: normal;

}