
// Colors
//============
$black-1: #181511;
$black-2: #161616; //background image in the center

$gray-1: #4B4136; //template blocks border
$gray-2: #54493E; //icons service
$gray-3: #363636; //insta icon
$gray-4: rgba(255, 255, 255, 0.19);


$yellow: #FFAE2B;
$brown: #ACA592;
$white: #fff;

// Typography
//================

$font-global: 'Old Standard TT', serif;

$font-size-global: 11px;
$font-weight-global: 400;
$line-height-global: 24px;



