* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    width: 100%;
}

.user-list-holder {
    width: 60%;
}

.user-card-line {
    display: block;
}

.container {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    position: relative;

}

.user-list {
    display: flex;
    flex-wrap: wrap;

    .user-card {
        display: inline-block;
        padding: 10px;
        width: calc(100%/3);
    }
    
    .user-link {
        width: 100%;
        display: inline-block;
        border: 1px solid rgb(243, 151, 223);
        border-radius: 10px;
        padding: 10px;
        transition: all ease-out 0.3s;
    
        &:hover {
            background-color: rgb(255, 200, 237);
        }
    }
    
    .image-holder {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    
   
    
    .text-holder {
        text-align: center;
    }
}

