* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #544837;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

img {
    width: 100%;
}

.heading {
    color: #2F281E;
}

.heading--h-1 {
    font-size: 44px;
    line-height: 54px;
}

.heading--h-2 {
    font-size: 36px;
    line-height: 54px;
}

.heading--h-3 {
    font-size: 22px;
    line-height: 33px;
}

.heading--h-4 {
    font-size: 16px;
    line-height: 26px;
}


.container {
    width: 100%;
    max-width: 1125px;
    margin: 0 auto;
    padding: 10px;
    
}

.btn {
    display: inline-block;
    color: #ffffff;
    padding: 11px 22px;
    background-color: #FF9900;
    border: 1px solid #FF9900;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.header {
    padding: 35px 0 17px;
    margin-bottom: 30px;
}



header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 16%;
}

.logo__link {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 54%;
}

.menu__list {
    list-style: none;
    width: 53%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #2F281E;
}

.menu__buttons {
    line-height: 24px;
    width: 37%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn--white{
    color: #173A56;
    background-color: #ffffff;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}

.hero {
    margin-bottom: 111px; 
}

.hero .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    max-width: 50%;
    padding-right: 60px;
}

.hero__description {
    margin-bottom: 45px;
}

.hero__title {
    margin-bottom: 30px;
}

.hero__description .text-holder {
    font-size: 18px;
    line-height: 28px;
}

.hero__image-holder {
    max-width: 50%;
}

.hero__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}
.hero__buttons .btn {
    padding: 15px 40px;
    font-weight: 700;
}

.hero__buttons .btn--no-border {
    color: #FF9900;
    text-decoration: underline;
    padding: 15px 0;
    background-color: #ffffff;
    font-weight: 600;
    border: none;
    display: flex;
    align-items: center;
}

.hero__buttons .btn--no-border::before {
   content: url(../image/play-icon.png);
   width: 20px;
   margin-right: 8px;
   display: flex;
   align-items: center;
}


.tools {
    padding-bottom: 90px;
    margin-bottom: 120px;
}
.tools .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.tools__title {
    max-width: 540px;
    text-align: center;
    margin-bottom: 54px;
}


.tools__list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 34px;
}

.card {
    max-width: 240px;
}

.card__image-holder {
    max-width: 51px;
    margin-bottom: 30px;
}

.card__title {
    margin-bottom: 13px;
}

.tools__button .btn {
    padding: 15px 32px;
    font-weight: 700;
}

.benefits {
    margin-bottom: 100px;
}

main .benefits:last-child {
    margin-bottom: 150px;
}

.benefits .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.benefits__image-holder {
    max-width: 50%;
}

.benefits__content {
    max-width: 50%;
}

.benefits__content--right {
    padding-left: 100px;
}

.benefits__content--left {
    padding-right: 100px;
}

.benefits__pseudo-title {
    margin-bottom: 3px;
}

.benefits__title {
    margin-bottom: 22px;
}

.benefits__description {
    margin-bottom: 30px;
}

.benefits__text .heading--h-4 {
    margin-bottom: 12px;
}

.benefits__text p {
    margin-bottom: 25px;
}

.benefits__text p:last-child {
    margin-bottom: 0;
}

.benefits__list {
    list-style: none;
}

.benefits__item {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 65px;
    position: relative;
}

.benefits__item:last-child {
    margin-bottom: 0;
}

.benefits__item::before {
    content: "";
    width: 35px;
    height: 35px;
    border-radius: 14px;
    background-color: #FF9900;
    position: absolute;
    left: 0px;
}

.benefits__item::after {
    content: url(../image/tick.png);
    align-items: center;
    position: absolute;
    left: 10px;
}


.footer {
    margin-bottom: 80px;
}

.footer .container {
    border-top: 1px solid rgba(188, 208, 229, 0.4969);
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer .logo {
    margin-bottom: 34px;
    align-self: flex-start;
}

.footer__nav {
    align-self: flex-end;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.footer__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: flex-end;
}


.footer__col {
    list-style: none;
    font-size: 16px;
    line-height: 35px;
    margin-right: 10px;
}

.footer__form .text-field {
    width: 325px;
    height: 48px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    margin-bottom: 20px;
}

.footer__form .btn {
    width: 130px;
    height: 40px;
    padding: 0;
    font-weight: 700;
}


